:root{
    --primary:#0D6DE7;

    --nav_text_hover:#e7ebfd;

    --landing_background_light:#FBFCFF;
    --landing_background_dark:#ECF4FF;

    --welcome_text_dark:#083476;
    --welcome_text_light:#32D583;
    --welcome_pra:#667085;
}