body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #0f3063;
  color: white;
  /* padding: 40px 2px 0 2px; */
  position: relative;
  top: 36px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  height: 380px;
  /* margin: auto; */
  background-color: #0f3063;
  padding: 48px 64px 48px 64px;
}

.footer-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #fafbfc;
}

.footer-list-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fafbfc;
}

.footer-text-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fafbfc;
  position: relative;
  top: 7px;
}
.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo img {
  max-height: 194.6px; /* Adjust the height as needed */
  height: 56px;
}

.contact-info {
  margin-top: 20px; /* Space between the logo and contact info */
}

.contact-item {
  display: flex;
  align-items: center;
  margin: 10px 0; /* Space between each contact info item */
  gap: 10px;
}

.contact-item i {
  margin-right: 10px; /* Space between icon and text */
}

.social-media-icons {
  margin-top: 20px; /* Space between contact info and social media icons */
}

.social-media-icons a {
  margin-right: 15px; /* Space between each icon */
}

.social-media-icons img {
  height: 48px; /* Adjust size as needed */
}

.footer-right {
  display: flex;
  align-items: flex-start;
}

.footer-columns {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 25px;
}

.footer-columns ul {
  margin: 0 20px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-columns ul h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-columns ul li {
  margin: 5px 0;
}

.footer-bottom {
  background-color: #091e42;
  color: white;
  text-align: left;
  padding: 10px 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: left;
  width: 100%;
}

.footer-bottom p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 300;
  line-height: 19.36px;
  color: #fafbfc;
  margin-left: 42px;
}

.footer-links a {
  font-size: 15px;
  font-weight: 300;
  line-height: 19.36px;
  color: #fafbfc;
  text-decoration: none;
  margin: 0 10px;
  margin-right: 20px;
}
.footer-bottom {
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: 2256px) {
  .footer-columns {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 120px;
  }
}

@media (max-width: 4056px) and (min-width: 2000px) {
  .footer-columns {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 120px;
  }
}
